* { margin: 0;
padding:0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}





.nav-bar {display: flex;
display: flex;
align-items: center;
justify-content: space-between;
padding: 16px 120px;

   
}

.logo img {height: 40px;

}
.menu { display: flex;
    gap: 32px;
    list-style: none;

}
.menu a {text-decoration: none;
color: black;
}

.btn {border: none;
    border-radius: 4px;


 background-color: #508565;
 color: white;
 padding: 14px 20px;
 font-weight: bold;
 line-height: 19px;
text-align: left;
}

.banner {
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner-content {
    max-width: 800px;
    color:#fff;
    padding: 20px;
    text-align: center;

    
}
.banner-content h1 {
    font-size: 56px;
    font-weight: 700px;
    margin-bottom: 20px;

}

.banner-content h1 span {
    color:#4caf50
}
.banner-content p {font-size: 14px;
    margin-bottom: 30px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;
}
.banner-buttons {
display: flex;
justify-content: center;
gap: 20px;

}
.btn-1st {
    padding: 12px 22px;
    background-color: #4caf50;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color:#fff
}
.btn-2nd {
    padding: 12px 22px;
    border: 1px solid rgb(247, 246, 246);
    border-radius: 8px;
text-decoration: none;
color: white;
font-weight: 500;

}
.gb {
    display: inline-block;
    background-color: #fff;
    color: #4caf50;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.skills{
    padding-top: 100px;
}
.skills-container {
    width: 1140px;
    margin: 0 120px;
}
.section-heading {
    text-align: center;

}
.section-heading h2 {
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    line-height: 58px;
    margin-right: 130px;
}

.section-heading p{
    color:#627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
    margin-top: 15px;
    margin-right: 130px;
}
.skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
    margin-right: 100px;
margin-top: 50px;
}
.skill-box .skill-card {
    padding: 24px;
   /* border: 1px solid black;*/
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    max-width: 322px;
    border-radius: 8px;
}


.skill-card img {
    display: inline-block;
    background-color: rgb(239, 90, 90);
    border-radius: 50%;
    padding: 10px;
    margin-left: 60px;
    margin-top: 50px;
}
.skill-card h4 {
    font-size: 20px;
    margin-left: 11px;
    color: #001931;
}
.skill-card p {
    color: #627382;
    font-size: 15px;
    margin-left: 16px
    
}

.icon {
    display: flex;

}
.Container{
    display: flex;
    padding: 60px;
    gap:60px
}
.right span p {
    margin-top: 100px;
    color: #4caf50;
    margin-bottom: 30px;
}
.right p {
    color: #627382;
    margin-bottom: 30px;
    margin-top: 20px;
    
    font-weight: 500;
}
.left img {
    width: 500px;
}
.ready {
    padding: 60px;
}
.ready .ready-container {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px;

}

.ready .ready-container p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}





.last-button {border: none;
    border-radius: 4px;
 background-color: #508565;
 color: white;
 padding: 14px 20px;
 
}
.ready-heading p
{
color: #627382;
}
.ready-heading ul {
    display: flex;
}
.footer-container {
 background-color: #001931; 
 padding: 60px;  

}
.icons {
    text-align: right;
    color: #ff0000;
    border-radius: 50%;

}
.footer-container p {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#vejal {
    color: #fff;
    text-align: right;
    
}